@using Dchang_blog.Models
@model BlogPost

@{
    ViewBag.Title = "Details";

}


<style>
    .comment_name {
        color: #000;
        padding-top: 5px;
        text-transform: none;
        font-size: 12px;
        font-weight: bold;
        padding-bottom: 1px;
    }

    .comment_fsize {
        color: #000;
        padding-top: 5px;
        text-transform: none;
        font-size: 12px;
        padding-bottom: 1px;
    }

    .comment_date {
        font-size: 10px;
        opacity: .7;
    }

    .comment_msg {
        margin-left: 10px;
        padding-top: 0px;
        font-size: 11px;
    }
</style>

<div class="container">
    <div class="title" style="background-image: url('@Model.ImagePath');">Daniel Chang's<BR>BLOG</div>

</div>



<section class="blog_area">


    <div class="container">
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col-md-8">

                <div class="container mt-3 headbox">@Model.Title</div>

                <div align="center"><img src="@Model.ImagePath" class="postimg"></div>

                <div class="container mt-3 headbox">
                    <p>
                        By: @Html.ActionLink("Daniel Chang", "About", "Home") on
                        @Model.Created.ToString("MMM dd, yyyy")
                    </p>
                </div>

                <div class="container mt-3 detposted">
                    <div class="blog_details row">
                        <p class="postbody">
                            @Html.Raw(Model.BlogPostBody)
                        </p>
                    </div>

                </div>

                @if (User.IsInRole("Admin"))
                {
                    <p align="right">
                        @Html.ActionLink("Edit", "Edit", new { slug = (string)Model.Slug }) |
                        @Html.ActionLink("Back", "Index")
                    </p>
                }

                <p id="tocomments">
                    <BR>
                </p>
                @if (User.Identity.IsAuthenticated)
                {
                    <div id="addComment">
                        @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("BlogPostId", Model.Id)
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10">
                                    <center>@Html.TextArea("CommentBody", new { rows = 5, cols = 60, placeholder = "Add Comment", id = "comadd" })</center>
                                </div>
                                <div class="col-1"></div>
                            </div>

                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10">
                                    <center><button type="submit" class="btn btn-sm btn-dark">Add Comment</button></center>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        }

                    </div>


                }
                else
                {
                    <p align="center">
                        If you'd like to leave it a comment, @Html.ActionLink("please sign up", "Register", "Account", null)! <BR>
                        Already have an account? @Html.ActionLink("Login here", "Login", "Account", null)
                    </p>

                }

                <p><BR></p>

                @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
                {
                    <div class="container mt-3 compost">
                        <div class="media">
                            <img src="~/Images/anonymous.png" class="align-self-start mr-3" style="width:60px">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col comment_fsize">
                                        <span class="comment_name">@comment.Author.DisplayName</span> says:
                                    </div>
                                    <div class="col">
                                        <p class="comment_date" align="right">@comment.Created.ToString("MM/dd/yyyy h:mm tt")</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col comment_msg">
                                        @comment.CommentBody
                                    </div>
                                </div>
                                @*<div class="row">
                                    <div class="col">
                                        <p class="comment_date" align="right">
                                            @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id })
                                        </p>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-2"></div>
        </div>
    </div>
</section>

<p><BR></p>

